apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "openclaw.name" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "openclaw.labels" . | nindent 4 }}
data:
  {{- range $key, $value := .Values.env }}
  {{ $key }}: {{ $value | quote }}
  {{- end }}
  openclaw.json: |
    {
      "browser": {
        "noSandbox": {{ .Values.browser.noSandbox }}
      }
    }
